body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #bdbdbd;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #636363;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  width: 80%;
  text-align: left;
}

li {
  background-color: #707070;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(94, 94, 94, 0.1);
}

h2 {
  margin-top: 0;
  color: #878787;
}

a {
  color: #575757;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a[href^="#"]:hover { /* Selects all anchor links with href starting with "#" */
  background-color: #99b29e; /* Example: Light gray background */
  color: #4f4f4f; /* Example: Darker text color */
}

li:hover { /* Selects all list items (`li`) when hovered */
  background-color: #99b29e; /* Example: Light gray background */
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2); /* Example: Larger shadow */
  transform: translateY(-2px); /* Optional: Slight lift effect */
}